pkgbase = rei-music-bin
	pkgdesc = A clean dark-themed desktop music player
	pkgver = 1.2.0
	pkgrel = 2
	url = https://github.com/aguasama39/rei
	arch = x86_64
	license = MIT
	depends = fuse2
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	options = !strip
	source = Rei-1.2.0.AppImage::https://github.com/aguasama39/rei/releases/download/v1.2.0/Rei-1.2.0.AppImage
	source = rei.desktop
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = rei-music-bin
